<header id="top-header" role="banner" class="site-header container">
  <h1 class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </h1>
  <div id="tools">
    <a title="Click to log in" href="/account/login" aria-label="My Account">My Account</a>
  </div>
</header>
